<main>

  <div class="row">

    <div class="text text-title"><h4>Список сторінок</h4></div>

    <div class="text col-6 mb-5">Тут вам потрібно написати
      інформацію про ваш проєкт. Поки що можна написати
      будь-який текст</div>

  </div>

  <div class="row">
    <div class="col-1 pe-5">
      <div>

        <a
          href="/bio"
          class="btn btn-primary mb-3 me-5"
        >Bio</a>

        <a
          href="/js"
          class="btn btn-primary mb-3 me-5"
        >JS</a>

        <a
          href="/car"
          class="btn btn-primary mb-3 me-5"
        >Car</a>

        <a
          href="/education"
          class="btn btn-primary mb-3 me-5"
        >Education</a>

        <a
          href="/mac"
          class="btn btn-primary mb-3 me-5"
        >Mac</a>

        <a
          href="/person"
          class="btn btn-primary mb-3 me-5"
        >Person</a>

        <a
          href="/facebook"
          class="btn btn-primary me-5 mb-3"
        >Facebook</a>

        <a
          href="/index"
          class="btn btn-primary mb-3 me-5"
        >Index</a>

        <a
          href="/program"
          class="btn btn-primary me-5 mb-3"
        >Program</a>

        <a
          href="/task21"
          class="btn btn-primary mb-3 me-5"
        >Task21</a>

        <a
          href="/task22"
          class="btn btn-primary mb-3 me-5"
        >Task22</a>

        <a
          href="/task31"
          class="btn btn-primary mb-3 me-5"
        >Task31</a>

        <a
          href="/web"
          class="btn btn-primary mb-3 me-5"
        >Web</a>

        <a
          href="/work"
          class="btn btn-primary mb-3 me-5"
        >Work</a>

        <a
          href="/shophome"
          class="btn btn-primary mb-3 me-5"
        >Shophome</a>

        <a
          href="/shoporder"
          class="btn btn-primary mb-3 me-5"
        >Shoporder</a>

        <a
          href="/shopprofile"
          class="btn btn-primary mb-3 me-5"
        >Shopprpfile</a>

        <a
          href="/shopcart"
          class="btn btn-primary mb-3 me-5"
        >Shopcart</a>

        <a
          href="/shopcatalog"
          class="btn btn-primary mb-3 me-5"
        >Shopcatalog</a>

        <a
          href="/shopreview"
          class="btn btn-primary mb-3 me-5"
        >Shopreview</a>

        <a
          href="/skills"
          class="btn btn-primary mb-3 me-5"
        >Skills</a>

        <a
          href="/summary"
          class="btn btn-primary mb-3 me-5"
        >Summary</a>

      </div>

    </div>

  </div>
</main>